{% extends "base.html.twig" %}
     {% block title %}acceuil{% endblock %}
 {% block body %}
 <div class="container mt-4">
<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur TinRecype</h1>
  <p class="lead">TinRecype est une application qui va te permettre de créer des recette à bases des ingrédients que tu as choisit, elle te permet de partager tes idées culinaires à l'ensemble de la communeauté</p>
  <hr class="my-4">
  <p>Pour commencer rendez-vous sur la page d'inscription pour utiliser l'application</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
</div>
</div>
{% endblock %}


